:root {
  --backgroundColor: #f1f1f1;
  --emphasisColor: #fff;
  --mainFontColor: #1d1d1d;
  --secondaryFontColor: #4c4c4e;
  --linkColor: #eb1767;
  --linkHoverColor: #CF0F5B;
  --gridColor: #ccc;
  --footerColor: #292627;
}

@custom-media --mobileViewport (max-width: 768px);
@custom-media --nonMobileViewport (min-width: 769px);
@custom-media --smallViewport (max-width: 960px);
@custom-media --largeViewport (min-width: 1440px);

ul, p, span { margin-top: 0; }

body {
  background: var(--backgroundColor);
  padding-top: 45px;
}


h2 {
  color: var(--mainFontColor);
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

.link {
  color: var(--linkColor);
  font-family: "Montserrat";
  text-transform: uppercase;
}

.link:hover {
  color: var(--linkHoverColor);
  text-decoration: none;
}

.button {
  border-radius: 25px;
  padding: 1em 2em;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.button span {
  position: relative;
  z-index: 10;
}

.button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  opacity: 0;
  transition: left 200ms ease-out, right 200ms ease-out, opacity 200ms ease-out, border-radius 200ms ease-out;
  z-index: 5;
}

.button:hover:after {
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 25px;
}

/*
 **************************
 * MODULES
 **************************
*/

.module {
  box-sizing: border-box;
  height: 45vw;
  width: 45vw;
}


.module__title hr {
  border-width: 2px;
  border-style: solid;
  width: 1em;
  margin: 1em auto 0 0;
}

.module__title-text {
  color: var(--emphasisColor);
  font-size: 200%;
}

.module__title {
  color: var(--emphasisColor);
  padding: 7vw;
  position: relative;
  left: 8%;
}

.module__title-header {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.module__description {
  display: block;
  font-family: "Roboto Mono";
  width: 100%;
  line-height: 2.375em;
}

.module__learn-more {
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  margin: 3em 0;
  line-height: 2.375em;
}

.module__learn-button {
  background-color: var(--emphasisColor);
  color: var(--mainFontColor);
}

.module__learn-button:after {
  background-color: var(--backgroundColor);
}


/*
 **************************
 * GLOBAL NAV
 **************************
*/
.global-nav {
  background: var(--emphasisColor);
  border-bottom: 1px solid #ededed;
  height: 75px;
  position: fixed;
  width: 100%;
  display: flex;
  margin-top: -45px;
  z-index: 1;
}

.global-nav__main-nav {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.global-nav__menu {
  list-style: none;
  padding: 0;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.global-nav__menu-item {
  color: var(--mainFontColor);
  position: relative;
}

.global-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  height: 100%;
  padding: 0 1.5vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.global-nav__menu-item {
  color: var(--mainFontColor);
  position: relative;
}

.global-nav__menu-item:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transition: width 200ms ease-out;
}

.global-nav__menu-item:hover, .global-nav__menu-item:active {
  color: var(--linkColor);
  box-sizing: border-box;
}

.global-nav__menu-item:hover:after, .global-nav__menu-item:active:after {
  border-bottom: 6px solid var(--linkColor);
  width: 100%;
  max-width: 100px;
}

.global-nav__menu-item > * {
  margin: 0;
}

.global-nav__contact-button {
  background-color: var(--mainFontColor);
  color: var(--emphasisColor);
}

.global-nav__contact-button:after {
  background-color: var(--secondaryFontColor);
}

.global-nav__logo {
  background: url("/assets/smashing_boxes_logo_menu_navigation.png") no-repeat center;
  display: inline-block;
  height: 100%;
  margin: 0 1.5vw;
  width: 45px;
}

.global-nav__search {
  background: url("/assets/search_icon_menu_navigation.png") no-repeat center;
  display: inline-block;
  height: 100%;
  margin: 0 1.5vw;
  width: 25px;
}

.global-nav__link {
  width: 100%;
  height: 100%;
  display: block;
}

@media (--smallViewport) {
  .global-nav__menu {
    margin: 0;
    float: right;
  }

  .global-nav__menu:before {
    content: "\2261";
    font-size: 50px;
    position: absolute;
    right: 2vw;
    cursor: pointer;
    color: var(--mainFontColor);
    top: 3px
  }

  .global-nav__contact {
    margin: 0 auto;
  }

  .global-nav__logo {
    position: absolute;
  }

  .global-nav__menu-item, .global-nav__search {
    display:none;
  }
}

/*
 **************************
 * HEADER
 **************************
*/

.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto -25vw;
  position: relative;
}

.header__image {
  background: url("/assets/header_image.jpg") no-repeat;
  background-size: contain;
  padding-top: 55%;
  z-index: -1;
}

.header__tag-line {
  color: var(--emphasisColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  letter-spacing: 1.5vw;
  position: absolute;
  text-transform: uppercase;
  top: 13vw;
  left: 15%;
}

.header__module {
  background: var(--emphasisColor);
  box-sizing: border-box;
  vertical-align: middle;
  padding: 100px;
  position: relative;
  width: 650px;
  margin-left: auto;
  margin-right: 3%;
}

.header__module h1 {
  color: var(--mainFontColor);
  font-family: 'Roboto Mono';
  font-size: 1.125em;
  font-weight: normal;
  line-height: 2.375em;
  margin-bottom: 1em;
}

.header__module a {
  letter-spacing: 0.35em;
}

@keyframes fadeIn {
  from { top:0; opacity:0; }
  to { top: -25vw; opacity:1; }
}

@keyframes fadeInLarge {
  from { top:0; opacity:0; }
  to { top: -359px; opacity:1; }
}

@media (--nonMobileViewport) {
  .header__module {
    opacity: 0;
    top: 0;
    animation:fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
  }
}

@media (--largeViewport) {
  .header__tag-line {
    font-size: 72px;
    top: 186px;
    letter-spacing: 21.6px;
  }

  .header__module {
    top: 0;
    opacity: 0;
    animation: fadeInLarge ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
  }

  .header {
    margin-bottom: -359px;
  }
}

@media (--mobileViewport) {
  .header {
    margin-bottom: 0;
  }

  .header__module {
    display: block;
    padding: 10%;
    position: static;
    width: 100%;
  }
}

/*
 **************************
 * Case Study
 **************************
*/

.case-study {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

.case-study__heading {
  display: block;
  margin: 100px auto;
  text-align: center;
  width: 100%;
}

.case-study__modules {
  position: relative;
  font-size: 1.11vw;
}

.case-study__title {
  background: var(--footerColor);
}

.case-study__video {
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
  right: 5%;
}

.case-study__video video {
  height: 100%;
}

.case-study__image {
  background: url("/assets/crnt_watch_image.jpg");
  background-size: 100% auto;
  position: absolute;
  bottom: 0%;
  left: 15%;
}

.case-study__link {
  margin-right: 0;
  margin-left: auto;
  font-size: 1.125em;
  lost-align: center;
}

.case-study__link a {
  text-align: center;
  line-height: 225%;
  letter-spacing: 0.35em;
}

@media (--largeViewport) {
  .module {
    height: 650px;
    width: 650px;
  }

  .case-study__title {
    padding: 100px;
  }

  .case-study__modules {
    font-size: 1em;
  }
}

/*
 **************************
 * Partners
 **************************
*/

.partners {
  margin: 50px auto 0;
  max-width: 1440px;
}

.partners__header {
  lost-center: 80% flex;
}

.partners__title {
  box-sizing: border-box;
  lost-column: 2/5 0;
  padding: 0 1em;
  margin: 0;
}

.partners__description {
  height: 100%;
  lost-column: 5/10 0;
  font-family: "Roboto Mono";
  line-height: 2.375em;
  color: var(--mainFontColor);
}

.partners__grid {
  border-top: 1px solid var(--gridColor);
  border-right: 1px solid var(--gridColor);
  width: 100%;
  margin-top: 100px;
  lost-utility: clearfix;
}

.partners__grid-item {
  background: var(--emphasisColor);
  border-bottom: 1px solid var(--gridColor);
  border-left: 1px solid var(--gridColor);
  lost-column: 1/5 5 0;
  box-sizing: border-box;
  height: 20vw;
  max-height: 288px;
}

.red-hat { background: url("/assets/red_hat_logo.png") no-repeat center; }
.wb { background: url("/assets/wb_logo.png") no-repeat center; }
.sony { background: url("/assets/sony_logo.png") no-repeat center; }
.cisco { background: url("/assets/cisco_logo.png") no-repeat center; }
.nola { background: url("/assets/new_orleans_cvb_logo.png") no-repeat center; }
.farm { background: url("/assets/farm_bureau_logo.png") no-repeat center; }
.kontrol { background: url("/assets/kontrol_freek_logo.png") no-repeat center; }
.fhi { background: url("/assets/fhi_360_logo.png") no-repeat center; }
.weaveup { background: url("/assets/weave_up_logo.png") no-repeat center; }
.duke { background: url("/assets/duke_logo.png") no-repeat center; }

/*
 **************************
 * Collections
 **************************
*/

.collections {
  margin: 100px auto 0;
  max-width: 1440px;
  position: relative;
}

.collections__header {
  margin: 100px auto;
}

.collections__title {
  text-align: center;
}

.collections__description {
  font-family: "Roboto Mono";
  line-height: 2.375em;
  color: var(--mainFontColor);
  text-align: center;
}

.collections__modules {
  position: relative;
  font-size: 1.11vw;
}

.collections__module-title {
  background: url("/assets/technology_for_digital_health_01.jpg");
  background-size: 100% auto;
}

.collections__image {
  background: url("/assets/technology_for_digital_health_02.jpg");
  background-size: 100% auto;
  position: absolute;
  right: 8%;
  top: 35%;
}

@media (--largeViewport) {
  .collections__modules {
    font-size: 1em;
  }
  .module__title {
    padding: 100px;
  }
}

/*
 **************************
 * CALL TO ACTION
 **************************
*/

.cta {
  background: var(--linkColor);
  height: 100%;
  width: 60%;
  margin: 200px auto 0;
  display: flex;
  flex-direction: row;
}

.cta__title {
  background: var(--linkHoverColor);
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta__title h2 {
  color: var(--emphasisColor);
  text-align: center;
  font-size: 1.5em;
}

.cta__description {
  flex: 2 0 0;
  color: var(--emphasisColor);
  text-align: center;
  font-family: "Roboto Mono";
  line-height: 2.375em;
  padding: 50px 0;
}

.cta__description p {
  margin-bottom: 2em;
}


.cta__button {
  background-color: var(--emphasisColor);
  color: var(--mainFontColor);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat";
}

.cta__button:after {
  background-color: var(--backgroundColor);
  color: var(--mainFontColor);
}

/*
 **************************
 * CALL TO ACTION
 **************************
*/

.footer {
  width: 100%;
  background: var(--footerColor);
  position: relative;
  margin-top: 50px;
  padding-top: 50px;
  z-index: -1;
}

.footer__addresses {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1em;
}

.footer__addresses > * {
  padding: 5em;
}

.footer__addresses, .footer__addresses a {
  color: var(--emphasisColor);
  font-family: "Montserrat";
  line-height: 2.375em;
}

.footer__addresses h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.footer__links {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1em;
}

.footer__links, .footer__links a {
  color: var(--emphasisColor);
  font-family: "Montserrat";
  line-height: 2.375em;
}

.footer__top-link {
  background: var(--linkColor) url("/assets/sb_logo_white_footer.png") no-repeat center;
  height: 52px;
  width: 52px;
  padding: 1em;
  margin: 0 1em;
}

.footer__links > * {
  display: flex;
  align-items: center;
}
